@import "styling/spectre/variables";

.item {
  .rightContent {
    padding-bottom: $unit-5;
  }

  &:last-child {
    .rightContent {
      padding-bottom: 0;
    }
  }


  .time {
    line-height: 1;
    padding-top: 0.15rem;
    padding-bottom: 0.2rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;

    &:global(.label) {
      color: #fff;
    }
    // color: rgba($color: $light-color, $alpha: .8);
  }

  p {
    line-height: 1.4;
    font-size: .8rem;
  }


  .leftContent {
    display: flex;
    flex-direction: column;

    &::after {
      content: "";
      display: block;
      flex-grow: 1;

      height: 40px;
      width: 2px;
      background: rgba($color: #fff, $alpha: 0.3);
      border-radius: 2px;
      margin: 10px auto;
    }
  }

  .fallbackIcon {
    width: 100%;
    height: 100%;
    background: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;

    i {
      display: flex;
    }
  }

  &:last-child {

    .leftContent {
      &::after {
        display: none;
      }
    }
  }
}
