@import "styling/spectre/variables";

.item {
  // & + & {
  //   &::before {
  //     content: "";
  //     display: block;

  //     height: 40px;
  //     width: 2px;
  //     background: rgba($color: $highlight-color, $alpha: 0.5);
  //     border-radius: 2px;
  //     margin: -40px auto 10px 30px;
  //   }
  // }

  .leftContent {
    &::after {
      content: "";
      display: block;

      height: 40px;
      width: 2px;
      background: rgba($color: $highlight-color, $alpha: 0.5);
      border-radius: 2px;
      margin: 10px auto;
    }
  }

  &:last-child {
    .leftContent {
      &::after {
        display: none;
      }
    }
  }
}
