@import "styling/spectre/variables";
@import "styling/utils";

.root {

  :global(.card-header) {
    padding-left: 0 !important;
  }

  .projectColumn {
    width: calc((100% - 100px) / 2);
    transition: opacity 0.3s;

    :global(.card) {
      background-color: transparent;
      text-decoration: none;
    }
  }

  .projectColumn + .projectColumn {
    margin-left: 30px;
  }

  :global(.swiper-container-initialized) {
    .projectColumn {
      visibility: visible;
    }

    .nextSlideButton {
      display: block;
    }
  }

  .viewMoreSlide {
    &,
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
  }

  .viewMoreSlide {
    align-items: center;
    justify-content: center;
    max-height: 30vh;
    margin-right: 0;
    position: relative;
    background-color: transparent;

    .normalIcon {
      transition: transform 0.2s;
    }

    .bg {
      background-color: $primary-color-dark;
      background-blend-mode: overlay;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      @include better-blur(10);
    }

    .viewMoreSlideText {
      // padding-bottom: 5px;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $highlight-color;
        display: block;
        margin-top: 3px;
      }
    }

    i {
      font-size: 2rem;
    }

    &:hover {
      .normalIcon {
        transform: translateY(-3px) scale(1.125);
      }
    }
  }

  .nextSlideButton,
  .prevSlideButton,
  .projectImage {
    height: 160px;
  }
}

@media (max-width: $size-sm - 1) {
  @import "styling/spectre/variables";
@import "styling/utils";

  .root {
    .projectColumn {
      width: calc(100% - 80px);
    }
  }
}

@media (max-width: $size-md - 1) {
  @import "styling/spectre/variables";
@import "styling/utils";

  .root {
    padding-right: 0;
    padding-left: 0;

    .nextSlideButton {
      i {
        transform: translateX(-10px);
      }
    }

    :global(.swiper-container) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media (min-width: $size-lg) {

  @import "styling/spectre/variables";
@import "styling/utils";

  .root {

    &:hover {
      .projectColumn {
        opacity: 0.65;

        &:hover {
          opacity: 1;
        }
      }
    }

    .nextSlideButton,
    .prevSlideButton,
    .projectImage {
      height: 260px;
    }
  }
}
