@import "styling/spectre/variables";

.subcontent {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.title {
  & > span {
    animation: fadeInAndOut 1.2s ease infinite alternate both;
    height: .8em;
    font-size: inherit;
    width: 3px;
    margin-left: .15em;
    margin-bottom: -0.03em;
    background-color: white;
    display: inline-block;

  }
}


@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
