@import "styling/spectre/variables";

.root {
  margin-bottom: auto;
}

.subcontent {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.secondaryContact {
  h6 {
    word-wrap: break-word;
  }
}

@media (max-width: $size-md - 1) {
  .secondaryContact {
    margin-top: 0 !important;
  }
}
