@import "styling/spectre/variables";
@import "styling/spectre/animations";

.project {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  flex-grow: 1;

  animation: fade-in 0.15s ease-out both;

  :global(.pagination) {
    :global(.page-item) {
      a {

        .previewImage {
          transition: opacity 0.1s;
          opacity: 1;
        }

        &:hover {
          .previewImage {
            opacity: 0.85;
          }
        }
      }
    }

    :global(.page-item-title) {
      line-height: 1;
    }
  }

  .previewImage {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    padding-top: 50%;
    height: 0;
    max-width: 45vw;

    margin-bottom: $unit-1;
  }

  .showMoreButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    height: 100px;
    padding-top: 40px;
    background: linear-gradient(transparent, $gray-color-light 75%);
  }
}

.backButton {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.35);

  &,
  &:hover {
    text-decoration: none;
  }

  &,
  &:visited,
  &:active {
    color: white;
  }

  span {
    display: inline-block;
  }

  i {
    font-size: 0.95em;
    transition: transform 0.2s ease-out;
  }

  &:hover {
    i {
      transition-duration: 0.3;
      transition-timing-function: cubic-bezier(0.295, 0.555, 0.19, 2);
      transform: translateX(-5px);
    }
  }
}

.content {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.siteLinkButton {
  &:hover {
    transform: scale(1.1);
  }
}

.expandButton {
  flex-direction: row-reverse;

  &,
  &:hover,
  &:active,
  &:focus {
    color: #fff !important;
  }

  span {
    text-decoration: inherit;
  }
}

.title {
  & > div {
    font-size: 0.75em;
  }
}

.sliderActions {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  left: $unit-5;
  z-index: 10;
}

@media (max-width: $size-sm - 1) {
  .project {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $size-sm) {
  .title {
    & > div {
      margin-left: 5px;
      display: inline-block;
    }
  }
}

@media (max-width: $size-lg - 1) {
  .project {

    .sliderActions {
      position: relative;
      justify-content: space-between;
      left: 0;
    }

    .expandButton {
      text-align: right;
    }

    .backButton {
      box-shadow: none;

      &,
      &:hover,
      &:active,
      &:focus {
        background-color: transparent !important;
        border: none;
      }
    }
  }
}
