@import 'styling/spectre/variables';

.project {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .showMoreButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    height: 100px;
    padding-top: 40px;
    background: linear-gradient(transparent, $gray-color-light 75%);
  }
}

.backButton {
  z-index: 10;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, .35);

  &,
  &:hover {
    text-decoration: none;
  }

  &,
  &:visited,
  &:active {
    color: white;
  }

  span {
    display: inline-block;
  }

  i {
    font-size: .95rem;
    transition: transform .2s ease-out;
  }

  &:hover {
    i {
      transition-duration: .3;
      transition-timing-function: cubic-bezier(0.295, 0.555, 0.190, 2);
      transform: translateX(-5px);
    }
  }
}

.content {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.siteLinkButton {

  &:hover {
    transform: scale(1.1);
  }

}

.subcontent {
  padding-left: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.title {
  & > div {
    font-size: .75em;
  }
}

@media (max-width: 599px) {
  .project {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 600px) {
  .title {
    & > div {
      margin-left: 5px;
      display: inline-block;
    }
  }

  .subcontent {
    border-left: 3px solid $secondary-color-dark;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .backButton {
    position: absolute;
    left: 0;
    top: 0;
  }
}
