@import "styling/spectre/variables";

.experience {

  .coreSkills {
    flex-wrap: wrap;
    justify-content: center;

    & > * {
      display: flex;
      flex: 1 1 100px;
      justify-content: center;
      min-width: 80px;
      max-width: 160px;
    }

    figure {
      min-width: 100%;
    }
  }

  .skillIcon {
    display: flex;
    justify-content: center;

    img {
      height: 60px;
      object-fit: contain;
    }
  }

  .secondarySkills {
    max-width: 600px;
    flex-wrap: wrap;

    :global(.chip) {
      white-space: nowrap;
      border: 1px solid rgba($color: #fff, $alpha: 0.2);
      background: transparent;
    }
  }

  .roundIcon {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    // border-radius: 30px;
  }

  .uxDesignIcon {
    background: #7f27a8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #1d2671, #7f27a8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top right,
      #1d2671,
      #7f27a8
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

@media screen and (max-width: 1199px) {
  .experience {
    .skillIcon {
      img {
        height: 45px;
      }
    }

    .roundIcon {
      height: 45px;
      width: 45px;
      font-size: 1rem;
    }
  }
}
