@import "styling/spectre/variables";

.root {
  :global(.label) {
    background-color: $primary-color-dark;
    font-size: .8rem;
  }
}

.imageWrapper {
  &,
  img,
  figure {
    max-height: 30vh;
  }
}

@media (min-width: $size-md) {
  .cardHeader {
    padding-left: 0 !important;
  }
}
