@import 'styling/spectre/variables';

.app {
  min-height: 100%;
  width: 100%;
  display: flex;
  overflow-y: auto;
  position: relative;

  .spacer {
    display: none;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    // background-color: $bg-color-light;
    // overflow: auto;

    max-width: 900px;
    // padding-bottom: 65px;

    width: 100%;
    min-height: 100%;
    // height: calc(100% - 65px);
    position: relative;

    animation: fadeIn .3s both;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 899px) {
  .app {
    background-image: none !important;
  }
}

@media (min-width: 1100px) {
  .app {
    .spacer {
      display: block;
      flex: 0 0 30vw;
    }
    .content {
      // height: 100%;
      max-width: 1100px;
    }
  }
}
