@import 'styling/spectre/variables';

.app {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: $primary-color-dark;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  background-blend-mode: multiply;

  position: relative;

  .content {
    margin-left: auto;
    margin-right: auto;
    background-color: $bg-color-light;
    overflow: auto;

    max-width: 900px;

    width: 100%;
    height: 100%;
    position: relative;

    animation: fadeIn .3s both;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 899px) {
  .app {
    background-image: none !important;
  }
}

@media (min-width: 1200px) {
  .app {
    .content {
      max-width: 1200px;
    }
  }
}
