@import "styling/spectre/variables";
@import "styling/utils";

.app {
  min-height: 100%;
  width: 100%;
  display: flex;
  overflow-y: auto;
  position: relative;
  padding-bottom: 3rem;

  .redirecting {
    main {
      opacity: 0;
      transition: opacity .1 ease-in;
    }
  }

  &.frontPage {
    padding-top: 0;
  }

  .spacer {
    display: none;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    min-width: 0;

    max-width: 900px;

    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .progressiveBg {
      background-color: $primary-color-dark;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100vw;
      position: fixed;
      overflow: hidden;

      img {
        mix-blend-mode: multiply;
        object-position: top center;
        object-fit: contain;
      }
  }
}

@media (min-width: $size-lg) {
  .app {
    padding-bottom: 0;
    padding-top: 0;

    .spacer {
      display: block;
      flex: 0 0 25vw;
      min-width: 400px;
    }
    .content {
      max-width: $size-lg - 100;
    }
  }
}

@media (min-width: $size-2x) {
  .app {
    .content {
      max-width: 55vw;
    }
  }
}

// @media (min-width: 2000px) {
//   .app {
//     .content {
//       max-width: ;
//     }
//   }
// }
