@import "../styling/spectre/variables";

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;

  .introHeader {
    align-items: flex-start;
  }

  .projectCarousel {
    :global(.card-header) {
      padding-left: 0 !important;
    }
  }

  .profile {
    margin-bottom: auto;
    margin-top: auto;
  }

  .projectColumn {
    // visibility: hidden;
    margin-right: 15px;
    width: calc((100% - 100px) / 2);

    :global(.card) {
      background-color: transparent;
      text-decoration: none;
    }
  }

  :global(.swiper-container-initialized) {
    .projectColumn {
      visibility: visible;
    }

    .nextSlideButton {
      display: block;
    }
  }

  .viewMoreButton,
  .viewMoreSlide {
    &,
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
  }

  .viewMoreSlide {
    align-items: center;
    justify-content: center;
    max-height: 30vh;
    margin-right: 0;

    i {
      font-size: 1.5em;
    }
  }

  .projectColumn,
  .cardHeader {
    transition: opacity 0.3s;
  }

  .cardHeader {
    background-color: #fff;
  }

  .profile {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    // justify-content: center;
    // flex-grow: 1;
    width: 100%;
    flex-direction: column;
  }

  .content {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .subcontentTitle {
    padding-bottom: 5px;

    font-size: 1.05rem;
  }

  .subcontent {
    margin-bottom: 1.6rem;
  }

  .secondaryText {
    border-radius: 10px;
    background-color: transparent;
    font-weight: 300;
    font-size: min(4vh, 2.25rem);

    line-height: 1;

    & > *:last-child {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0.8rem;
    }

    b {
      border-bottom: 0.075em solid $highlight-color;
      padding-bottom: 0.075em;
      margin: 0 0.1em;
      font-weight: 600;
    }
  }

  .workSection {
    h4 {
      padding-bottom: 3px;
      border-bottom: 2px solid $highlight-color;
    }
  }

  .nextSlideButton,
  .prevSlideButton,
  .projectImage {
    height: 160px;
  }
}

@media (max-width: $size-sm - 1) {
  .about {
    .projectCarousel {
      .projectColumn {
        width: calc(100% - 80px);
      }
    }
  }
}

@media (max-width: $size-md - 1) {
  .about {

    .projectCarousel {
      padding-right: 0;
      padding-left: 0;

      .nextSlideButton {
        i {
          transform: translateX(-10px);
        }
      }

      :global(.swiper-container) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}

@media (min-width: $size-lg) {
  .about {

    .profile {
      margin: 0;
    }

    .nextSlideButton,
    .prevSlideButton,
    .projectImage {
      height: 260px;
    }


    .profileTitleText {
      margin-left: 20px;

      h1 {
        font-size: 2rem;
      }

      h4 {
        font-size: 1.2rem;
      }
    }

    .subcontentTitle {
      font-size: 1.2rem;
    }

    // .content {
    //   margin-top: 30px;
    //   margin-bottom: auto;
    // }

    .projectCarousel {
      .cardHeader {
        opacity: 0;
      }

      &:hover {
        .projectColumn {
          opacity: 0.65;

          &:hover {
            opacity: 1;

            .cardHeader {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
