@import "../styling/spectre/variables";

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;

  .projectColumn {
    width: calc((100% - 100px) / 2);

    :global(.card) {
      background-color: transparent;
      text-decoration: none;
    }
  }

  :global(.swiper-container-initialized) {
    .nextSlideButton {
      display: block;
    }
  }

  .viewMoreButton,
  .viewMoreSlide {
    &,
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
  }

  .viewMoreSlide {
    align-items: center;
    justify-content: center;

    i {
      font-size: 1.5em;
    }
  }

  .projectColumn,
  .cardHeader {
    transition: opacity 0.3s;
  }

  .cardHeader {
    background-color: #fff;
  }

  .profile {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }

  .content {
    margin-top: 20px;
    width: 100%;
    margin-top: auto;
  }

  .subcontentTitle {
    padding-bottom: 5px;

    font-size: 1.05rem;
  }

  .subcontent {
    margin-bottom: 30px;
  }

  .profileImageWrapper {
    width: 200px;
    border: 1px solid $primary-color-dark;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .profileTitleText {
    h1 {
      font-size: 1.4rem;
    }

    h4 {
      font-size: 1.1rem;
    }
  }

  .secondaryText {
    border-radius: 10px;
    background-color: transparent;

    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.6;

    & > *:last-child {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0.8rem;
    }

    b {
      border-bottom: 0.075em solid $highlight-color;
      padding-bottom: 0.075em;
      margin: 0 0.1em;
      font-weight: 600;
    }
  }

  .workSection {
    h4 {
      padding-bottom: 3px;
      border-bottom: 2px solid $highlight-color;
    }
  }

  .projectImage {
    height: 180px;
  }
}



@media (max-width: 719px) {
  .about {
    .projectCarousel {
      .projectColumn {
        width: calc(100% - 80px);
      }
    }
  }
}

@media (max-width: 899px) {
  .about {
    .projectCarousel {
      padding-right: 0;
      padding-left: 0;

      .nextSlideButton {
        i {
          transform: translateX(-10px);
        }
      }

      :global(.swiper-container) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}

@media (min-width: 1100px) {
  .about {

    .projectImage {
      height: 260px;
    }

    .profile {
      text-align: left;
    }
    .profileTitleText {
      margin-left: 20px;

      h1 {
        font-size: 2rem;
      }

      h4 {
        font-size: 1.2rem;
      }
    }

    .subcontentTitle {
      font-size: 1.2rem;
    }

    .subcontent {
      border-left: 3px solid $secondary-color-dark;
      padding-left: 15px;
      padding-bottom: 10px;
    }

    .content {
      margin-top: 30px;
      margin-bottom: auto;
    }

    .projectCarousel {
      .cardHeader {
        opacity: 0;
      }

      &:hover {
        .projectColumn {
          opacity: 0.65;

          &:hover {
            opacity: 1;

            .cardHeader {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
