@import "styling/spectre/variables";

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;

  .introHeader {
    align-items: flex-start;
  }

  .profile {
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
  }

  .content {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .subcontentTitle {
    padding-bottom: 5px;

    font-size: 1.05rem;
  }

  .subcontent {
    margin-bottom: 1.6rem;
  }

  .secondaryText {
    border-radius: 10px;
    background-color: transparent;
    font-weight: 300;
    font-size: min(4vh, 2.15rem);

    line-height: 1;

    & > *:last-child {
      margin-bottom: 0;
    }

    b {
      border-bottom: 0.075em solid $highlight-color;
      padding-bottom: 0.075em;
      margin: 0 0.1em;
      font-weight: 600;
    }
  }

  .workSection {
    h4 {
      padding-bottom: 3px;
      border-bottom: 2px solid $highlight-color;
    }
  }



  .profileImageButton {
    position: relative;
    overflow: hidden;
    border: 1px solid $primary-color-dark;

    .moreAboutMeIcon {
      transition: opacity 0.3s;
      opacity: 0;
      background: radial-gradient(rgba($primary-color-dark, 0.95), darken($primary-color-dark, 10%));
      // background-color: $primary-color-dark;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }

    &:hover {
      .moreAboutMeIcon {
        opacity: 1;

        i {
          transition-delay: 0.25s;
        }
      }
    }
  }
  .profileImageButton .moreAboutMeIcon {
    i {
      transition: transform 0.2s ease-out;
      font-size: 2rem;
    }

    &:hover {
      i {
        transition-duration: 0.2;
        transition-timing-function: cubic-bezier(0.295, 0.555, 0.19, 2);
        transform: translateX(8px);
      }
    }
  }
}

@media (min-width: $size-lg) {
  .about {
    .profile {
      margin: 0;
    }

    .workSection {
      h4 {
        font-size: 1.3rem;
      }
    }

    .subcontentTitle {
      font-size: 1.2rem;
    }
  }
}
