@import "styling/spectre/variables";

.carousel {
  width: 100%;

  .image {
    width: 100%;
    padding-top: 56.25%;

    transition: opacity 0.2s ease-in-out;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .thumbnailWrapper {
    padding: 5px;
    background-color: $primary-color;
  }

  .slidePreview {
    opacity: 0.65;

    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 80px;
    cursor: pointer;

    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .selected {
    .slidePreview {
      cursor: initial;
      opacity: 1;
    }
  }

  .navigationButton {
    background-color: transparent !important;

    color: $bg-color-light;
    border: none;

    position: absolute;
    top: 0;

    height: 100%;
    width: 56px;
    font-size: 20px;
    z-index: 5;

    &::before {
      content: "";
      height: 100%;
      width: 100%;

      position: absolute;
      top: 0;
      bottom: 0;

      opacity: 0.5;
      transition: opacity 0.2s;
    }

    &.navigationButtonLeft {
      &,
      &::before {
        left: 0;
      }

      &::before {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
      }
    }

    &.navigationButtonRight {
      &,
      &::before {
        right: 0;
      }

      &::before {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
      }
    }

    &:active,
    &:focus {
      outline: none;
      outline-style: none;
      box-shadow: none;
    }
  }
}

@media (min-width: 1200px) {
  .carousel {
    .image {
      padding-top: 45%;
    }

    // .navigationButton {
    //   opacity: 0;
    // }

    &:hover {
      .navigationButton {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
