@import "styling/spectre/variables";

.carousel {
  width: 100%;

  .thumbnailWrapper {
    background-color: $primary-color-dark;
    padding: 5px;
  }

  .slidePreviewWrapper {
    height: 70px;
    width: 140px;
  }

  .mainCarousel {
    :global(.swiper-slide) {
      position: relative;
    }
  }

  .slidePreview {
    opacity: 0;

    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    margin: auto;
    cursor: pointer;

    transform: scale(0.92);

    &:hover {
      opacity: 1 !important;
    }
  }

  :global(.swiper-container-initialized) {
    .slidePreview {
      opacity: 0.6;
      transition: all 0.2s;
      transition-property: transform opacity;
    }

    .selected {
      .slidePreview {
        transform: scale(1);
        cursor: initial;
        opacity: 1;
      }
    }
  }
}
