@import "styling/utils";

.root {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
  min-height: 0 !important;
}

.loaded {
  .overlay {
    opacity: 0;
  }
}

.image,
.overlay,
.blurryBg,
.blurryBg::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.image,
.overlay,
.blurryBg img {
  object-fit: cover;
  object-position: center center;
}

.imgContained {
  object-fit: contain;
}

.blurryBg {
  @include better-blur(12);

  &::after {
    content: "";
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.overlay {
  @include better-blur(8);
  transition: opacity 0.5s ease-in-out;
}
