@import "styling/spectre/variables";
// @import "styling/spectre/utilities";

.root {

  &.primary {
    background: radial-gradient(ellipse, $primary-color-light, $primary-color-dark);
  }

  &.secondary {
    background: radial-gradient(ellipse, $secondary-color-light, $secondary-color-dark);
  }

  &.highlight {
    background: radial-gradient(ellipse, $warning-color-light, $warning-color-dark);
  }

  &.dark {
    background: radial-gradient(ellipse, $primary-color, darken($primary-color-dark, 6%));
  }

  &.light {
    background: $light-color;
  }

  & > * {
    z-index: 5;
  }

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
    width: 100%;
    height: 35px;
    z-index: 0;
  }

  &::after {
    top: auto;
    bottom: 0;
    transform: scaleY(-1);
  }
}
